<template>
<div>
<div class="row">
    <!-- Header -->
<div class="col-md-12 col-lg-12 container-fluid">
    <top-header></top-header>
</div>
</div>
<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 col-lg-2">
            <side-bar></side-bar>
        </div>
        
        <div class="col-lg-10 col-md-10">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 d-flex align-items-stretch" v-for="talent in talents" :key="talent.id">
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/static/talent/img/nibir.jpg" alt="Card image cap">
                        <div class="card-body"> 
                            <nuxt-link :to="{name: 'talent-id', params: { id:talent.id } }">{{talent.user.first_name}} {{talent.user.last_name}}</nuxt-link>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong> Expertise</strong>
                                <div v-for="expert in talent.expertises" :key="expert.id" :value="expert.id">
                                    <p>{{expert.expertise_in}}</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <strong>Address</strong>
                                <div v-for="address in talent.addresses" :key="address.id" :value="address.id">
                                    {{address.city}}
                                </div>
                            </li>
                            <li class="list-group-item">Experience: {{talent.experience}} years</li>
                        </ul> 
                    
                    </div> 
                </div>
            </div>
        </div> 
    </div>
</div>
</div>
</template>
<script>
import TopHeader from "~/components/layout/Header.vue";
import SideBar from "~/components/layout/Sidebar.vue";
const axios = require('axios');

export default {
  components: {
    TopHeader,
    SideBar
  },
  layout(ctx) {
    return "default";
  },
  mounted() {
    this.LoadTalent();
  },
  data() {
    return {
      talents: {}
    };
  },
  methods: {
    LoadTalent() {
        console.log(this.$store.state.token);
        const auth = {
        headers: {Authorization:'Token ' + this.$store.state.token} 
        }
      axios
      .get(this.$Helpers.ApiBaseUrl() +'talents/',auth)
      .then(response => (this.talents = response.data))
    }
  }
};
</script>
