<template>
<div>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/talentslist">TalentHut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/talentslist">Talents <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{this.$store.state.user.recruiter_username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My Talents</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard">My Dashboard</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <div class="col-md-2 bg-info">
        <div v-for="expertise in expertises" :key="expertise.id">
            <nuxt-link :to="{name: 'expertises-id', params: { id:expertise.id } }">{{expertise.expertise_in}}</nuxt-link>
        </div>
    </div>
    <div class="main col-10 bg-warning h-100 py-3">
        <h4>Main</h4>
        <p class="mb-5">Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal sustainable mixtape 
        swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct trade 
        ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan cliche semiotics ugh 
        synth chillwave meditation. Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p> 
    </div>
</div>
<div class="row">
    <div class="col-12 py-3 bg-danger">
        Footer
    </div>
</div>

        <!-- <div v-for="recruiter_activity in recruiter_activities" :key="recruiter_activity.id">
            <div v-if="recruiter_activity.is_unchanged==true">
               <strong>Username:</strong> {{recruiter_activity.talent.user.username}}
                <strong>Status:</strong>{{recruiter_activity.recruiter_event.name}}
            </div>
        </div> -->
</div>
</template>
<script>
const axios = require('axios');
    export default{
        layout(ctx){
            return 'default'
        },
        mounted()
        {
            this.LoadDashboard()
            this.LoadExpertises()
        },
        data()
        {
            return {
                recruiter_activities: {},
                expertises: {}
              }
        },
        methods: {
            LoadDashboard()
            {
                axios.get(this.$Helpers.ApiBaseUrl() +'recruiter-activities/recruiters/'+this.$store.state.user.recruiter_id+'/talents/')
                .then((response) => {
                    this.recruiter_activities = response.data
            })
            },
            LoadExpertises()
            {
                axios.get(this.$Helpers.ApiBaseUrl() +'expertises').then((response) => {
                this.expertises = response.data
            })
            }
        }
    }

</script>
