<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div v-if="this.$store.state.isAuthenticated==true">
            <a class="navbar-brand" href="/talentslist">TalentHut</a>
        </div>
        
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div v-if="this.$store.state.isAuthenticated==true">
                    <li class="nav-item active">
                    <a class="nav-link" href="/talentslist">Talents <span class="sr-only">(current)</span></a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <div v-if="this.$store.state.isAuthenticated==true">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{this.$store.state.user.recruiter_username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">My Talents</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard">My Dashboard</a>
                    </div>
                </li>
                </div>
                
                <div v-if="this.$store.state.isAuthenticated==true">
                    <li class="nav-item">
                    <a class="nav-link" href="#" @click="logOut">Logout</a>
                </li>
                </div>
                <div v-else>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                </div>
                <div v-if="this.$store.state.isAuthenticated==false">
                    <li class="nav-item">
                        <a class="nav-link" href="">Signup</a>
                    </li>
                </div>
                
                
            </ul>
        </div>
    </nav>
</template>
<script>
    export default{
        methods:{
            logOut() {
                this.$store.commit('ClearIdentity')
                this.$router.push('/login')
            }
        }
    }

</script>
