<template>
<div>
<!--     <div class="row">
        <div class="col-md-4 bg-info"> -->
            <div v-for="expertise in expertises" :key="expertise.id">
                <nuxt-link :to="{name: 'talentlistbyexpertises-id', params: { id:expertise.id } }">{{expertise.expertise_in}}</nuxt-link>
            </div>
        <!-- </div>
    </div>-->
</div> 
    <!-- <div class="container-fluid">
        <div class="row wrapper">
            <aside class="col-sm-2 p-0 bg-dark">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                    <div v-for="expertise in expertises" :key="expertise.id">
                        <nuxt-link :to="{name: 'expertises-id', params: { id:expertise.id } }">{{expertise.expertise_in}}</nuxt-link>

                    < </div>
                </nav>
            </aside>
        </div>
    </div> --> 
</template>

<script>
const axios = require('axios');

    export default{
        layout(ctx){
            return 'default'
        },
        mounted()
        {
            this.LoadExpertises()
        },
        data()
        {
            return {
                expertises: {}
            }
        },
        methods: {
            LoadExpertises()
            {
                const auth = {
        headers: {Authorization:'Token ' + this.$store.state.token} 
        }
                axios.get(this.$Helpers.ApiBaseUrl()+'expertises',auth)
                .then((response) => {
                this.expertises = response.data
            })
            }
        }
    }
</script>


