<template>
    <div class="row">
        <div class="col-md-12 col-lg-12 container-fluid">
            <top-header></top-header>
        </div>
        <div class="col-md-4">
            <side-bar></side-bar>
        </div>
        <div v-for="talent in talents" :key="talent.id" :value="talent.id">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/static/talent/img/nibir.jpg" alt="Card image cap">
                    <div class="card-body">
                        <!--<h5 class="card-title">Name: {{talent.user.first_name}} {{talent.user.last_name}}</h5>-->
                        <nuxt-link :to="{name: 'talent-id', params: { id:talent.id } }">{{talent.user.first_name}} {{talent.user.last_name}}</nuxt-link>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong> Expertise</strong>
                            <div v-for="expert in talent.expertises" :key="expert.id" :value="expert.id">
                                {{expert.expertise_in}}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <strong>Address</strong>
                            <div v-for="address in talent.addresses" :key="address.id" :value="address.id">
                                {{address.city}}
                            </div>
                        </li>
                        <li class="list-group-item">Experience: {{talent.experience}} years</li>
                    </ul>
                    <!--<div class="card-body">-->
                        <!--<nuxt-link :to="{name: 'talent-id', params: { id:talent.id } }">Profile</nuxt-link>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import TopHeader from '~/components/layout/Header.vue'
    import SideBar from '~/components/layout/Sidebar.vue'
    const axios = require('axios');
    export default{
        components: {
            TopHeader,SideBar
        },
        layout(ctx)
        {
            return 'default'
        },
        mounted()
        {
            this.LoadTalent()
        },
        data()
        {
            return{
                talents:{},
            }
        },
        methods:{
            LoadTalent()
            {
                const auth = {
        headers: {Authorization:'Token ' + this.$store.state.token} 
        }
                axios.get(this.$Helpers.ApiBaseUrl() +'talents/expertises/'+this.$route.params.id+'/',auth)
                .then((response) => {
                    this.talents = response.data
            })
            }
        }
    }
</script>