<template>
    <div class="page-wrapper">
        <!--<top-header></top-header>-->
        <!--<div class="clearfix"> </div>-->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <!--<side-bar></side-bar>-->
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <nuxt />
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!--<div class="page-footer">-->
            <!--<div class="page-footer-inner">-->
                <!--Footer of Talenthut-->
            <!--</div>-->
        <!--</div>-->
        <footer>Footer of talenthut</footer>
    </div>
</template>
<script>
    import TopHeader from '~/components/layout/Header.vue'
    import SideBar from '~/components/layout/Sidebar.vue'

    export default {
        components: {
            TopHeader,SideBar
        }
    }
</script>


