<template>
    <div>
        <div class="col-md-12">
            <top-header></top-header>
        </div>
        <div class="col-md-12">
            <h1>Talenthut Home page</h1>
        </div>
    </div>
</template>
<script>
    import TopHeader from "~/components/layout/Header.vue";

    export default {
        components: {
            TopHeader
        }
    }
</script>
