<template>
    <div>
        <div class="col-md-12">
            <top-header></top-header>
        </div>
        <div class="container">
            <form @submit.prevent="Login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername"  placeholder="Enter username" v-model="User.username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="User.password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</template>
<script>
   import TopHeader from "~/components/layout/Header.vue";

    export default {
        components: {
            TopHeader
        },
        layout: 'empty',
        data() {
            return {
                User: {},
                responseTest:{}
            }
        },

        methods: {
            Login() {
                const axios = require('axios');
                axios({
                    method: 'post',
                    url: this.$Helpers.ApiBaseUrl() + 'login/',
                    data: this.User,
                })
                .then((response)=>{
                    console.log(response.data.recruiter.id);
                      this.responseTest={
                            recruiter_id:response.data.recruiter.id,
                            company_name:response.data.company_name,
                            company_website:response.data.company_website,
                            recruiter_username:response.data.recruiter.user.username,
                            token:response.data.token
                          }
                        this.$store.commit('SetIdentity', this.responseTest)
                        this.$router.push('/talentslist')
                });
        }
    }
    }
</script>
