<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <top-header></top-header>
            </div>
        </div>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-3"><!--left col-->
                    <div class="text-center">
                        <img src="~/static/talent/img/nibir.jpg"
                             class="avatar img-circle img-thumbnail"
                             alt="avatar">
                        <h1>{{talent.user.username}} Updated by Sajib</h1>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item text-muted">About <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>DOB:</strong>{{talent.birthdate}}</span>
                        </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Marital Status:</strong>{{talent.marital_status.status}}</span>
                        </li>
                        <!-- contact and email no -->
                    </ul>
                </div><!--/col-3-->
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#info">Info </a><br></li>
                        <li><a data-toggle="tab" href="#expertise">Expertise</a><br></li>
                        <li><a data-toggle="tab" href="#resume">Resume</a></li>
                        <li><a data-toggle="tab" href="#education">Education</a><br></li>
                        <hr>
                        <div v-for="recruiter_activity in talent.recruiter_activities" :key="recruiter_activity.id">
                            <!-- {{recruiter_activity.is_disabled}} -->
                            <div v-if="recruiter_activity.is_disabled == true">
                                <button disabled>
                                    {{recruiter_activity.recruiter_event.name}}
                                </button> &nbsp;
                            </div>
                            <div v-else>
                                <button @click="SelectEvent(talent.id,recruiter_activity.recruiter_event.id)">
                                    {{recruiter_activity.recruiter_event.name}}
                                </button> &nbsp;
                            </div>
                        </div>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="info">
                            <hr>
                            <form class="form">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>First name</h4></label>
                                        <input type="text" class="form-control" :value="talent.user.first_name"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Last name</h4></label>
                                        <input type="text" class="form-control" :value="talent.user.last_name" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Username</h4></label>
                                        <input type="text" class="form-control" :value="talent.user.username" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Gender</h4></label>
                                        <input type="text" class="form-control" :value="talent.sex.gender" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Birth Place</h4></label>
                                        <input type="text" class="form-control" :value="talent.birthplace" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Address</h4></label>
                                        <div v-for="address in talent.addresses" :key="address.id">
                                            <input type="text" class="form-control" :value="address.city" disabled>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="education">
                            <hr>
                            <form class="form">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Education</h4></label>
                                        <div v-for="education in talent.resume.educations" :key="education.id">
                                            <p>Start Date: {{education.start_date}}</p>
                                            <p>Completion Date: {{education.completion_date}}</p>
                                            <p>Graduation: {{education.graduation}}</p>
                                            <p>Organization: {{education.organization}}</p>
                                            <p>Website: {{education.website}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="expertise">
                            <hr>
                            <form class="form">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Expertise</h4></label>
                                        <div v-for="expertise in talent.expertises" :key="expertise.id">
                                            <input type="text" class="form-control" :value="expertise.expertise_in"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Experience</h4></label>
                                        <input type="text" class="form-control" :value="talent.experience+' years'"
                                               disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Qualification</h4></label>
                                        <input type="text" class="form-control" :value="talent.qualification" disabled>
                                    </div>
                                </div>
                            </form>

                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="resume">
                            <hr>
                            <form class="form">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Experience</h4></label>
                                        <div v-for="experience in talent.resume.job_experiences" :key="experience.id">
                                            <p>Company: {{experience.company}}</p>
                                            <p>position: {{experience.position}}</p>
                                            <p>Start Date: {{experience.start_date}}</p>
                                            <p>End Date: {{experience.end_date}}</p>
                                            <p>Website: {{experience.website}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Technical Skill</h4></label>
                                        <div v-for="skill in talent.resume.technical_skills" :key="skill.id">
                                            <p>skill_title: {{skill.skill_title}}</p>
                                            <p>skill_list: {{skill.skill_list}}</p>
                                        </div>
                                    </div>
                                 </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label><h4>Language Skills</h4></label>
                                        <div v-for="language in talent.resume.language_skills" :key="language.id">
                                            <p>name: {{language.name}}</p>
                                            <p>skill_level: {{language.skill_level}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--/tab-pane-->
                </div><!--/tab-content-->

            </div><!--/col-9-->
        </div><!--/row-->
    </div>
</template>
<script>
import TopHeader from "~/components/layout/Header.vue";
import SideBar from "~/components/layout/Sidebar.vue";
const axios = require('axios');

export default {
  components: {
    TopHeader,
    SideBar
  },
  layout(ctx) {
    return "default";
  },
  mounted() {
    this.LoadTalent();
  },
  data() {
    return {
      talent: {
        user: {},
        sex: {},
        marital_status: {},
        resume: {}
      },
      recruiter_events: {},
      recruiter_activities: {}
    };
  },
  methods: {
    LoadTalent() {
        const auth = {
        headers: {Authorization:'Token ' + this.$store.state.token} 
        }
     axios
      .get(this.$Helpers.ApiBaseUrl() + 'talents/' + this.$route.params.id + '/', auth)
      .then(response => {
          console.log(response.data.recruiter_activities);
           this.talent = response.data;
           this.talent.id = this.$route.params.id;
    })},
    SelectEvent(talent_id, events_id) {
        const auth = {
        headers: {Authorization:'Token ' + this.$store.state.token} 
        }
      axios
        .post(
          this.$Helpers.ApiBaseUrl() + "recruiter-activities/",
          {
            recruiter: this.$store.state.user.recruiter_id,
            talent: talent_id,
            recruiter_event: events_id
          },auth
        )
        .then(response => {
          this.LoadTalent();
        });
    }
  }
};
</script>